---
import TournamentApp from '../components/TournamentApp';
import '../styles/global.css'; // 
---

<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Halo Tournament Generator</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png?v=4" />
  </head>
  <body>
    <TournamentApp client:only="react" />
  </body>
</html>
